.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bottom-button-container {
  justify-content: space-around;
}

.left-buttons {
  display: flex;
  gap: 2em;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.search-button,
.log-in-button,
.log-out-button,
.back-button {
  padding: 3px 10px;
  font-size: 12px;
  border: 1px solid #24282b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-button,
.home-button {
  padding: 3px 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.search-button:hover,
.log-in-button:hover,
.contact-button:hover,
.home-button:hover,
.log-out-button:hover,
.back-button {
  background-color: #c9cacc;
  color: #fff;
}

.search-button span,
.log-in-button span,
.contact-button {
  filter: grayscale(100%);
}

.logo-image {
  width: 140px;
  height: 20px;
}
